*, *::before, *::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

/* progress-par*/
.progress-par{
    margin-top: 5rem;
    position: relative;
    width: 500px;
    height: 3em;
    background: gray;
    border-radius: 2.4em
}
.progress-par::before{
    content: attr(data); /*get data from html using attr*/
    display: flex;
    align-items: center;
    position: absolute;
    top: 0.4em;
    bottom: 0.4em;
    left: 0.3em;
    background: blue;
    border-radius: 1.3em;
    width:calc(var(--width, 0) * 1%); /* calc to calculate for us || var to pass varible in css and 0 if the var does not exist*/
    min-width: 2rem;
    max-width: calc(100% - 0.7em);
    padding: 1em;
}

/* second way of greating aprogress bar*/
.bar-container{
    width: 500px;
    height: 30px;
    background: red;
    border-radius: 3rem;
    border: solid 2px red;
    overflow: hidden;
    
}
.bar{
    width: 0%;
    height: 26px;
    background: darkgreen;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    
}


/*btn fedin and out*/
.btn{
    cursor: pointer;
    animation: animateBtn 1s ease forwards;
}

@keyframes animateBtn{
    from{
        opacity: 1;
        pointer-events: all;
    }
    to{
        opacity: 0;
        pointer-events: none;
        
    }
}
 










